# Vivado / XSim
xsim.dir/
.Xil/
*.jou
*.log
*.pb
*.wdb
*.str
webtalk*
xelab.*
xvlog.*
xsim.*

# waveforms
*.vcd
*.wdb
*.ghw

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# LaTeX build artifacts
*.aux
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
